.hero-section-outer {
  background-color: white;
}
.header-outer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  display: flex;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.header-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../assets/images/header_img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;

  z-index: 10;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgb(24, 24, 24) 20%,
    rgb(41, 41, 41) 32.5%,
    rgb(80, 80, 80) 43.5%,
    rgba(155, 155, 155, 0) 50%
  );

  font-family: Montserrat;
}
.header-logo {
  padding-top: 50px;
}
.header-logo img {
  margin-left: 2rem;
  width: 20%;
  min-width: 200px;
}
.header-title-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10vw;
  margin-top: 250px;
}
.header-title {
  margin: 0px;
  font-size: 6rem;
}
.header-subtext {
  width: 40%;
  font-size: 1rem;
}
.our-value-outer {
  margin: 0% 10% 0% 10%;
  font-family: Montserrat;
  display: flex;
  background-color: white;
  color: #343434;
}
.ov-image-outer {
  position: relative;
  width: 40vw;
  min-width: 350px;
  height: 460px;
}

.ov-image {
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  left: 0;
  top: 0%;
  z-index: 14;
  box-shadow: 0px 7px 10px #00000030;
  opacity: 70;
  transition: 0.5s;
}
.scrolled {
  transition: 0.5s;
  opacity: 100;
  top: -20% !important;
}
.ov-content {
  display: flex;
  flex-direction: column;
  /* padding: 0px 0px 90px 0px; */
}
.ov-content-header {
  font-size: 3rem;
  margin: 0;
  margin-top: 30px;
}
.ov-content-item-topic {
  margin: 0;
  font-size: 1rem;
}
.ov-content-item p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  min-width: 400px;
}
@media only screen and (max-width: 1024px) {
  .our-value-outer {
    display: flex;
    flex-direction: column;
  }
  .ov-content {
    align-items: center;
    margin-top: 20px;
  }
  .ov-content-header {
    text-align: center;
    font-size: 2rem;
  }
  .ov-image-outer {
    width: 100%;
    height: 220px;
    /* background-color: #343434; */
  }
  .ov-image {
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
  }
  .scrolled {
    top: -65% !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-subtext {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    align-items: center;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgb(41, 41, 41) 25.5%,
      rgb(104, 104, 104) 50.5%,
      rgba(155, 155, 155, 0) 60%
    );
  }
  .header-logo {
    display: flex;
    justify-content: center;
    padding-top: 0px;
  }
  .header-logo img {
    margin: 0px;
    width: 80%;
    max-width: 80%;
    margin-top: 40px;
  }
  .header-title-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 200px;
  }
  .header-title {
    display: none;
  }
  .header-subtext {
    text-align: center;
    width: 70%;
  }
  .header-image {
    width: 100%;
  }
  .ov-content-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
.invisible {
  visibility: hidden;
}
